input, select, textarea{
    display: block;
    margin: 4px ;
}
h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.inline{
    display: inline;
}
body{
    background-color: #efefef;
}
.form-container{
    background-color: #FFFFFF;
}